<footer class="mt-0" style="padding-top: 20px;">
    <div class="container">
        <div class="row text-center d-flex align-items-center">
            <div class="col-lg-4">
                <div class="linea_1"></div>
            </div>
            <div class="col-lg-4 text-center">
                <h2 class="herdes">HerDestiny</h2>
            </div>
            <div class="col-lg-4">
                <div class="linea_1"></div>
            </div>
        </div>
        <div class="row mt-5 text-center" style="margin-left: 170px;">
            <div class="col-lg-4">
                <h2>VISÍTANOS</h2>
                <p class="mt-2">SAGRADA FAMILIA #123
                    DEPOSITO Y SERVICE
                    URCA, CORDOBA CAPITAL</p>
            </div>
            <div class="col-lg-4">
                <h2>LLÁMANOS</h2>
                <p class="mt-2"><a href="tel:662 234 5678">662 234 5678</a></p>
            </div>
            <div class="col-lg-4">
                <h2>ENLACES DE INTERÉS</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                    <li><a href="#">Enlace 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="last_footer text-center bg-white">
        <p class="mb-0 py-3" style="color: black;">2022 HerDestiny - Todos los derechos reservados</p>
    </div>
</footer>
