@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;900&display=swap');
:root{
    --color_uno : #00B2FF;

    --fuente_uno : 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    
}
body{
    overflow-x: hidden;
    font-family: var(--fuente_uno);
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
header nav{
    background-color: var(--color_uno);
}
header nav a{
    color:#fff!important;
    font-size: 26px!important;
}
.portada_principal{
    position: relative;
    height: 589px;
}
.portada_principal img{
    height: 589px;
    object-fit: cover;
}
.portada_principal h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-style: italic;
    font-size: 64px;
    font-weight: 600;
}
.seccion_1 , .seccion_2{
    background-color: #FEE6D9;
    
}
.seccion_1 {
    padding: 50px 0px 80px;
}
.seccion_2{
    margin-top: -50px;
    padding: 80px 0px!important;
}
.seccion_1 h2 , .seccion_2 h2{
   
    color: #D70B54;
    font-style: italic;
}
.seccion_1 h2{
    text-align: center;
}
.seccion_2 h2{
text-align: center;
}
.paquetes{
    margin-top: -50px;
}
.paquetes .unidad{
    background: #A0E3FF;
   
    text-align: center;
    border-radius: 15px;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 10px 20px;
   
}
.seccion_fondo h2{
    font-weight: 600;
}
.paquetes .unidad .contenido{
    padding: 55px 55px 20px;
}
.paquetes .unidad h2{
    font-style: italic;
    font-size: 35px;
    color: #000;
    font-weight: 600;
}
.paquetes .unidad h3{
    color: #00B2FF;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: 600;
}
.paquetes .unidad p{
    font-size: 15px;
    margin: 15px 0px;
    color: #000;
}
.btn-reserva{
    height: 60px;
    padding: 0 25px;
    background: #00B2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #Fff!important;
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
    
}
footer{
    background: #000;
    
}
footer > div.container{
    padding: 80px 0px;
}
footer h2{
    font-style: italic;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  
}
footer p , footer a{
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color: #fff!important;
}
footer ul{
    list-style: none!important;
    padding: 0px!important;
}

.herdes{
    margin-left: 200px;
}

.linea_1{
    margin-left: 100px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

@media(max-width:991px){
    .linea_1{
        display: none;
    }
    footer h2{
        font-size: 30px;
    }
    .portada_principal , .portada_principal img{
        height: 380px;
    }
    .portada_principal h2{
        font-size: 45px;
    }
    header nav .navbar-collapse{
        position: absolute;
        top: 70px;
        background: #f3f3f3;
        width: 100%;
        left: 0;
        height: 100vh;
        z-index: 9;
        transition: none!important;
    }
    header nav .navbar-collapse ul{
        margin-top: 60px;
    }
    header nav .navbar-collapse a{
        color: #000!important;
        font-size: 18px!important;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.last_footer{
    background-color: #D70B54 !important;
}