<header class="cabecera">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/carrusel/slider2.png" class="d-block carousel-item" alt="...">
                <h1 class="carousel-title">PAQUETES</h1> <!-- Título encima de la imagen -->
            </div>
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>


<div class="productos mb-0">

<div class="container-fluid bg-transparent my-4 p-3">
    <div class="row row-cols-3 g-4">
        <div class="col hp" *ngFor="let producto of productos">
            <ng-container *ngIf="producto.categoria.idCategoria === 1">
                <div class="card h-100 shadow-sm">
                    <a target="_blank" [routerLink]="['/principal/pagos', producto.idProducto]">
                        <img src="/assets/images/estetica/Body_Health.jpg" height="400px" class="card-img-top"
                            alt="product.title" />
                    </a>

                    <div class="label-top shadow-sm">
                        <a class="text-white text-uppercase" style="font-size: 16px;" target="_blank"> <strong>
                                {{producto.nombre}} </strong></a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">

                            <span class="float-start badge rounded-pill bg-success" style="font-size: 17px;">
                                {{producto.precio | number: '1.3-3'}} $</span>

                            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><strong
                                        style="color: black !important;  font-weight: bold; font-size: 18px;">Precio</strong></a></span>
                        </div>

                        <h1 class="card-title text-center text-uppercase">
                            <a target="_blank" style="color: #000 !important;"> {{producto.paquete.nombrePaquete}} </a>
                        </h1>

                        <h5 class="card-title ">
                            <a target="_blank" style="color: #e2d7d7 !important; text-align: center !important;">
                                {{producto.descripcion}} </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">
                            <button [disabled]="esTransportista" [routerLink]="['/principal/pagos', producto.idProducto]"
                                    class="btn-reserva btn btn-warning bold-btn" style="font-size: 25px;">Reservar ahora</button>
                        </div>
                        

                    </div>
                </div>
            </ng-container>


        </div>



    </div>
</div>




<div class="container-fluid bg-transparent my-4 p-3">
    <div class="row row-cols-3 g-4">
        <div class="col hp" *ngFor="let producto of productos">
            <ng-container *ngIf="producto.categoria.idCategoria === 2">
                <div class="card h-100 shadow-sm">

                    <a target="_blank" href="https://amzn.to/3qeS1Fe">
                        <img src="/assets/images/estetica/BodyUp.jpg" class="card-img-top" height="300px"
                            alt="product.title" />
                    </a>
                    <div class="label-top shadow-sm">
                        <a class="text-white text-uppercase" target="_blank" > <strong>
                                {{producto.nombre}} </strong> </a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">

                            <span class="float-start badge rounded-pill bg-success" style="font-size: 17px;">
                                {{producto.precio | number: '1.3-3'}} $</span>

                            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><strong
                                        style="color: black !important;  font-weight: bold; font-size: 18px;">Precio</strong></a></span>
                        </div>

                        <h1 class="card-title text-center text-uppercase">
                            <a target="_blank" style="color: #000 !important;"> {{producto.paquete.nombrePaquete}} </a>
                        </h1>



                        <h5 class="card-title ">
                            <a target="_blank" style="color: #e2d7d7 !important; text-align: center !important;">
                                {{producto.descripcion}} </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">
                            <button [disabled]="esTransportista" [routerLink]="['/principal/pagos', producto.idProducto]"
                                    class="btn-reserva btn btn-warning bold-btn" style="font-size: 25px;">Reservar ahora</button>
                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>



<div class="container-fluid bg-transparent my-4 p-3">
    <div class="row row-cols-3 g-4">
        <div class="col hp" *ngFor="let producto of productos">
            <ng-container *ngIf="producto.categoria.idCategoria === 3">
                <div class="card h-100 shadow-sm">

                    <a target="_blank" href="https://amzn.to/3qeS1Fe">
                        <img src="/assets/images/estetica/Criolipolisis.jpg" class="card-img-top" height="300px"
                            alt="product.title" />
                    </a>
                    <div class="label-top shadow-sm">
                        <a class="text-white text-uppercase" target="_blank"> <strong>
                                {{producto.nombre}} </strong> </a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">

                            <span class="float-start badge rounded-pill bg-success" style="font-size: 17px;">
                                {{producto.precio | number: '1.3-3'}} $</span>

                            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><strong
                                        style="color: black !important;  font-weight: bold; font-size: 18px;">Precio</strong></a></span>
                        </div>

                        <h1 class="card-title text-center text-uppercase">
                            <a target="_blank" style="color: #000 !important;"> {{producto.paquete.nombrePaquete}} </a>
                        </h1>



                        <h5 class="card-title ">
                            <a target="_blank" style="color: #e2d7d7 !important; text-align: center !important;">
                                {{producto.descripcion}} </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">
                            <button [disabled]="esTransportista" [routerLink]="['/principal/pagos', producto.idProducto]"
                                    class="btn-reserva btn btn-warning bold-btn" style="font-size: 25px;">Reservar ahora</button>
                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>



<div class="container-fluid bg-transparent my-4 p-3">
    <div class="row row-cols-3 g-4">
        <div class="col hp" *ngFor="let producto of productos">
            <ng-container *ngIf="producto.categoria.idCategoria === 4">
                <div class="card h-100 shadow-sm">

                    <a target="_blank" href="https://amzn.to/3qeS1Fe">
                        <img src="/assets/images/estetica/VelaSlim.jpg" class="card-img-top" height="300px"
                            alt="product.title" />
                    </a>
                    <div class="label-top shadow-sm">
                        <a class="text-white text-uppercase" target="_blank" > <strong>
                                {{producto.nombre}} </strong> </a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">

                            <span class="float-start badge rounded-pill bg-success" style="font-size: 17px;">
                                {{producto.precio | number: '1.3-3'}} $</span>

                            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><strong
                                        style="color: black !important;  font-weight: bold; font-size: 18px;">Precio</strong></a></span>
                        </div>

                        <h1 class="card-title text-center text-uppercase">
                            <a target="_blank" style="color: #000 !important;"> {{producto.paquete.nombrePaquete}} </a>
                        </h1>



                        <h5 class="card-title ">
                            <a target="_blank" style="color: #e2d7d7 !important; text-align: center !important;">
                                {{producto.descripcion}} </a>
                        </h5>

                        <div class="d-grid gap-2 my-4">
                            <button [disabled]="esTransportista" [routerLink]="['/principal/pagos', producto.idProducto]"
                                    class="btn-reserva btn btn-warning bold-btn" style="font-size: 25px;">Reservar ahora</button>
                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>


<div class="container-fluid bg-transparent p-3">
    <div class="row row-cols-3 g-4">
        <div class="col hp" *ngFor="let producto of productos">
            <ng-container *ngIf="producto.categoria.idCategoria === 5">
                <div class="card h-100 shadow-sm">

                    <a target="_blank" href="https://amzn.to/3qeS1Fe">
                        <img src="/assets/images/estetica/DepilacionDefinitiva.jpg" class="card-img-top" height="300px"
                            alt="product.title" />
                    </a>
                    <div class="label-top shadow-sm">
                        <a class="text-white text-uppercase" target="_blank" > <strong>
                                {{producto.nombre}} </strong> </a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">

                            <span class="float-start badge rounded-pill bg-success" style="font-size: 17px;">
                                {{producto.precio | number: '1.3-3'}} $</span>

                            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><strong
                                        style="color: black !important;  font-weight: bold; font-size: 18px;">Precio</strong></a></span>
                        </div>

                        <h1 class="card-title text-center text-uppercase">
                            <a target="_blank" style="color: #000 !important;"> {{producto.paquete.nombrePaquete}} </a>
                        </h1>
                        <h5 class="card-title ">
                            <a target="_blank" style="color: #e2d7d7 !important; text-align: center !important;">
                                {{producto.descripcion}} </a>
                        </h5>
                        <div class="d-grid gap-2 my-4">
                            <button [disabled]="esTransportista" [routerLink]="['/principal/pagos', producto.idProducto]"
                                    class="btn-reserva btn btn-warning bold-btn" style="font-size: 25px;">Reservar ahora</button>
                        </div>
                        <div class="clearfix mb-1">
                            <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>
                            </span>
                        </div>
                    </div>
                </div> 
            </ng-container>
        </div>
    </div>
</div>
</div>
